update Funkcjonariusz set "FK_Stanowisko" = 'Przodownik' where "Nr_ID" = 288869;
update Funkcjonariusz set "FK_Stanowisko" = 'Starszy posterunkowy' where "Nr_ID" = 463268;
update Funkcjonariusz set "FK_Stanowisko" = 'Nadinspektor' where "Nr_ID" = 719708;
update Funkcjonariusz set "FK_Stanowisko" = 'Aspirant' where "Nr_ID" = 414981;
update Funkcjonariusz set "FK_Stanowisko" = 'Przodownik' where "Nr_ID" = 302897;
update Funkcjonariusz set "FK_Stanowisko" = 'Aspirant' where "Nr_ID" = 793205;
update Funkcjonariusz set "FK_Stanowisko" = 'Posterunkowy' where "Nr_ID" = 527219;
update Funkcjonariusz set "FK_Stanowisko" = 'Nadinspektor' where "Nr_ID" = 939739;
update Funkcjonariusz set "FK_Stanowisko" = 'Posterunkowy' where "Nr_ID" = 578597;
update Funkcjonariusz set "FK_Stanowisko" = 'Aspirant' where "Nr_ID" = 106384;
update Funkcjonariusz set "FK_Stanowisko" = 'Podkomisarz ' where "Nr_ID" = 505333;
update Funkcjonariusz set "FK_Stanowisko" = 'Podinspektor' where "Nr_ID" = 994895;
update Funkcjonariusz set "FK_Stanowisko" = 'Przodownik' where "Nr_ID" = 476121;
update Funkcjonariusz set "FK_Stanowisko" = 'Inspektor' where "Nr_ID" = 195811;
update Funkcjonariusz set "FK_Stanowisko" = 'Podinspektor' where "Nr_ID" = 705233;
update Funkcjonariusz set "FK_Stanowisko" = 'Przodownik' where "Nr_ID" = 461825;
update Funkcjonariusz set "FK_Stanowisko" = 'Starszy posterunkowy' where "Nr_ID" = 169396;
update Funkcjonariusz set "FK_Stanowisko" = 'Aspirant' where "Nr_ID" = 245110;
update Funkcjonariusz set "FK_Stanowisko" = 'Nadinspektor' where "Nr_ID" = 462023;
update Funkcjonariusz set "FK_Stanowisko" = 'Starszy przodownik' where "Nr_ID" = 558579;

Insert into Funkcjonariusz("Imie", "Nazwisko", "Plec", "Data_urodzenia", "FK_Stanowisko","Nr_ID") values('GRETA', 'WABNIK', 'K', '3519.3.10', 'Podkomisarz ', '465752') 
Insert into Funkcjonariusz("Imie", "Nazwisko", "Plec", "Data_urodzenia", "FK_Stanowisko","Nr_ID") values('BRAYAN', 'SZPICZKO', 'M', '3508.11.25', 'Aspirant', '416067') 
Insert into Funkcjonariusz("Imie", "Nazwisko", "Plec", "Data_urodzenia", "FK_Stanowisko","Nr_ID") values('PATRYCJA', 'RYTELEWSKA', 'K', '3504.8.16', 'Podkomisarz ', '458453') 

Insert into Druzyna("Funkcjonariusz1", "Funkcjonariusz2", "Funkcjonariusz3", "NrID") values('465752', '416067', '458453', '1797')
Insert into Druzyna("Funkcjonariusz1", "Funkcjonariusz2", "Funkcjonariusz3", "NrID") values('666798', '644275', '468961', '1979')
Insert into Druzyna("Funkcjonariusz1", "Funkcjonariusz2", "Funkcjonariusz3", "NrID") values('757310', '693466', '739208', '1906')

Insert into Kierowcy("Nr_ewidencji_NESKM", "Imie", "Nazwisko", "Nr_prawa_lotu") values('403607', 'JULIAN', 'RYLKE', '760954') 
Insert into Kierowcy("Nr_ewidencji_NESKM", "Imie", "Nazwisko", "Nr_prawa_lotu") values('734939', 'NATHAN', 'GOTKOWICZ', '634632') 
Insert into Kierowcy("Nr_ewidencji_NESKM", "Imie", "Nazwisko", "Nr_prawa_lotu") values('229505', 'ANDŻELIKA', 'BURCEL', '515449') 
 